*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; border:none;
 }

 a {
 	text-decoration: none;
 	color: black;
 }

.remove-css {
	border: none;
	padding: 0;
	margin: 0;
}